experiments/old_experiment.py
experiments/exp2/filecsv_1.csv
experiments/exp2/filecsv_2.csv
experiments/exp2/filecsv_3.csv
experiments/exp2/filecsv_4.csv
experiments/exp2/filecsv_5.csv
experiments/exp2/filecsv_6.csv
experiments/exp2/filecsv_7.csv
experiments/exp2/filecsv_8.csv
experiments/exp2/filecsv_9.csv
experiments/exp2/filecsv_10.csv
experiments/exp2/filecsv_11.csv
experiments/exp2/filecsv_12.csv
experiments/exp2/filecsv_13.csv
experiments/exp2/filecsv_14.csv
experiments/exp2/filecsv_15.csv
experiments/exp2/filecsv_16.csv
experiments/exp2/filecsv_17.csv
experiments/exp2/filecsv_18.csv
experiments/exp2/filecsv_19.csv
experiments/exp2/filecsv_20.csv
experiments/exp2/filecsv.csv
experiments/exp2/prova_1.csv
experiments/exp2/prova_2.csv
experiments/exp2/prova_3.csv
experiments/exp2/prova_4.csv
experiments/exp2/prova_5.csv
experiments/exp2/prova_6.csv
experiments/exp2/prova_7.csv
experiments/exp2/prova_8.csv
experiments/exp2/prova_9.csv
experiments/exp2/prova_10.csv
experiments/exp2/prova.csv
experiments/exp2/Saved_event_log.csv
experiments/exp2/images/mypath.png
experiments/exp2/times/times.csv
experiments/exp_prv/filecsv_1.csv
experiments/exp_prv/filecsv_2.csv
experiments/exp_prv/filecsv_3.csv
experiments/exp_prv/filecsv_4.csv
experiments/exp_prv/filecsv_5.csv
experiments/exp_prv/filecsv_6.csv
experiments/exp_prv/filecsv_7.csv
experiments/exp_prv/filecsv_8.csv
experiments/exp_prv/filecsv.csv
experiments/exp_prv/Saved_event_log.csv
experiments/exp_prv/times/evs4_times.csv
experiments/exp_prv/times/evs6_times.csv
experiments/images/image.png
experiments/log_data/event_log_choice_1_1000_1.csv
experiments/log_data/event_log_choice_1_1000_2.csv
experiments/log_data/event_log_choice_1_1000_3.csv
experiments/log_data/event_log_choice_1_1000.csv
experiments/log_data/Saved_event_log.csv
experiments/my_log_files/filecsv_1.csv
experiments/my_log_files/filecsv_2.csv
experiments/my_log_files/filecsv_3.csv
experiments/my_log_files/filecsv_4.csv
experiments/my_log_files/filecsv_5.csv
experiments/my_log_files/filecsv_6.csv
experiments/my_log_files/filecsv_7.csv
experiments/my_log_files/filecsv_8.csv
experiments/my_log_files/filecsv_9.csv
experiments/my_log_files/filecsv_10.csv
experiments/my_log_files/filecsv_11.csv
experiments/my_log_files/filecsv_12.csv
experiments/my_log_files/filecsv_13.csv
experiments/my_log_files/filecsv_14.csv
experiments/my_log_files/filecsv_15.csv
experiments/my_log_files/filecsv_16.csv
experiments/my_log_files/filecsv_17.csv
experiments/my_log_files/filecsv_18.csv
experiments/my_log_files/filecsv_19.csv
experiments/my_log_files/filecsv_20.csv
experiments/my_log_files/filecsv_21.csv
experiments/my_log_files/filecsv_22.csv
experiments/my_log_files/filecsv_23.csv
experiments/my_log_files/filecsv_24.csv
experiments/my_log_files/filecsv_25.csv
experiments/my_log_files/filecsv_26.csv
experiments/my_log_files/filecsv_27.csv
experiments/my_log_files/filecsv_28.csv
experiments/my_log_files/filecsv_29.csv
experiments/my_log_files/filecsv_30.csv
experiments/my_log_files/filecsv_31.csv
experiments/my_log_files/filecsv_32.csv
experiments/my_log_files/filecsv_33.csv
experiments/my_log_files/filecsv_34.csv
experiments/my_log_files/filecsv_35.csv
experiments/my_log_files/filecsv_36.csv
experiments/my_log_files/filecsv_37.csv
experiments/my_log_files/filecsv_38.csv
experiments/my_log_files/filecsv_39.csv
experiments/my_log_files/filecsv_40.csv
experiments/my_log_files/filecsv.csv
experiments/my_log_files/Saved_event_log.csv
experiments/mypath/prova_1.csv
experiments/mypath/prova_2.csv
experiments/mypath/prova_3.csv
experiments/mypath/prova_4.csv
experiments/mypath/prova_5.csv
experiments/mypath/prova_6.csv
experiments/mypath/prova_7.csv
experiments/mypath/prova_8.csv
experiments/mypath/prova_9.csv
experiments/mypath/prova_10.csv
experiments/mypath/prova.csv
experiments/mypath/Saved_event_log.csv
experiments/mypath/images/plot_exp2.png
experiments/mypath/times/times.csv
experiments/times/trs2000_evs5.csv
experiments/times/trs2000_evs10.csv
experiments/times/trs2000_evs15.csv
experiments/times/trs6000_evs5.csv
experiments/times/trs6000_evs10.csv
experiments/times/trs6000_evs15.csv
experiments/times/trs10000_evs5.csv
experiments/times/trs10000_evs10.csv
experiments/times/trs10000_evs15.csv
experiments/times/trs14000_evs5.csv
experiments/times/trs14000_evs10.csv
experiments/times/trs14000_evs15.csv
experiments/times/trs18000_evs5.csv
experiments/times/trs18000_evs10.csv
experiments/times/trs18000_evs15.csv
experiments/times/trs20000_evs5.csv
experiments/times/trs20000_evs10.csv
experiments/times/trs20000_evs15.csv
experiments/times/trs40000_evs5.csv
experiments/times/trs40000_evs10.csv
experiments/times/trs40000_evs15.csv
experiments/times/trs60000_evs5.csv
experiments/times/trs60000_evs10.csv
experiments/times/trs60000_evs15.csv
experiments/times/trs80000_evs5.csv
experiments/times/trs80000_evs10.csv
experiments/times/trs80000_evs15.csv
experiments/times/trs100000_evs5.csv
experiments/times/trs100000_evs10.csv
experiments/times/trs100000_evs15.csv
experiments/times/trs120000_evs5.csv
experiments/times/trs120000_evs10.csv
experiments/times/trs120000_evs15.csv
experiments/times/trs140000_evs5.csv
experiments/times/trs140000_evs10.csv
experiments/times/trs140000_evs15.csv
experiments/times/trs160000_evs5.csv
experiments/times/trs160000_evs10.csv
experiments/times/trs160000_evs15.csv
images/exp2.png
experiments/__pycache__/dfg_offline.cpython-310.pyc
experiments/__pycache__/my_utils.cpython-310.pyc
